.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--github-light);
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--github-blue);
  margin-bottom: 1rem;
}

.tagline {
  font-size: 1.5rem;
  color: var(--github-dark);
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto 2rem;
  color: var(--github-dark);
}

.form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.input {
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.button {
  background-color: var(--github-blue);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: bold;
}

.button:hover {
  background-color: #024c9e; /* A darker shade of the original color */
  color: white; /* Maintain the text color */
}
